@import "./css/weather-icons.min.css";
@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @General styles */

h1,h2,p {padding: 0 5%;}

body{
  overflow-x: hidden;
  overflow-y: hidden;
  background: black;
  color: white;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.box {
  height: 270px;
  background: #222;
  margin-bottom: 20px;
}

.box__text{
  font-size: 36px;
  line-height: 58px;
}

.clearfix{
  clear: both;
}

.floating-left{
  float: left;
}

.main-font{
  font-family: 'Roboto', sans-serif;
}


/* @ApexChart Styles */

.ApexCharts--margin-30{
  margin-left:5%;
  display: inline-block;
}

.ApexCharts__mixed--chart{
  display: inline-block;
  width: 30%;
  margin-top: -60px;
}

.ApexCharts__AQI--chart{
  display: inline-block;
  width: 20%;
  margin-top: -100px;
  height:250px;
}


/* @AQI styles */

.circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.weather__aqi{
  width: 30%;
  height: 220px;
  float:right;
  padding-top:30px;
  padding-bottom:30px;
  margin-right: 100px;
}

.weather__aqi-text--color{
  color: black;
}

.weather__aqi--border{
  margin-left:30%;
  height: 180px;
  width: 180px;
  border: solid 7px white;
  border-radius: 50%;
  margin-top: -10px;
}

.weather__aqi--text{
  font-size: 42px;
  margin-top: 65px;
  margin-left: 25px;
}



/* @Currencies styles */

.currency{
  width: 20%
}



.first-block-element-gas{
  margin-top: 6px;
}

.gas{
  width: 20%
}

.wi-color--yellow{
  color: #e2d847
}

.wi-color--red{
  color: #da6464
}

.wi-color--green{
  color: #7ccf29
}