@import "./css/weather-icons.min.css";
@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @General styles */

h1,h2,p {padding: 0 5%;}

body{
  background: black;
  color: white;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@media screen and (max-width: 792px){

  .mobile-clearfix{
    clear: both;
  }
  
}

@media screen and (min-width: 793px){
  .box {
    height: 25%;
    background: #222;
    margin-bottom: 20px;
  }

  body{
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.box__text{
  font-size: 36px;
  line-height: 58px;
}

.clearfix{
  clear: both;
}

.floating-left{
  float: left;
}

.main-font{
  font-family: 'Roboto', sans-serif;
}

/* @ApexChart Styles */
@media screen and (max-width: 792px){
  .ApexCharts__mixed--chart{
    display: inline-block;
    width: 100%;
    margin-top: -60px;
    overflow-y: hidden;
  }

  .slider {
    width: 100%;
    height: 300px;
    display: flex;
    overflow-x: auto;
  }
  .slide {
    width: 600px;
    flex-shrink: 0;
    height: 100%;
  }
}

@media screen and (min-width: 793px){
  .bus-box--height{
    height: 270px;
    background: #222;
    margin-bottom: 20px;
  }
  
  .ApexCharts--margin-30{
    margin-left:5%;
    display: inline-block;
  }
  
  .ApexCharts__mixed--chart{
    display: inline-block;
    width: 30%;
    margin-top: -60px;
  }
}

/* @Weather styles */

@media screen and (max-width: 792px){

    
  .icon-weather{
    font-size: 200px;
    width:100%;
    float:left;
  }


  .icon-aqi{
    float: left;
    font-size: 200px;
    padding-top:30px;
    padding-bottom:30px;
    margin-left: 80px;
    width:10%;
  }

  
  .current-weather{
    margin-left: 7%;
    margin-top:50px;
  }

  
  .temperature__current{
    margin-left:25%;
    font-size: 32px;
    padding: 15px;
  }

  .temperature__details{
    padding: 20px;
    font-size: 18px;
  }
  
  .temperature__high{
    margin-left:15%;
    color:#da6464;
    float: left;
  }
  
  .temperature__low{
    margin-left:20px;
    color: #77C0E3;
    float: left;
  }
  
  .temperature__rain{
    margin-left:20px;
    color: rgb(189, 148, 255);
    float: left;
  }

  
}

@media screen and (min-width: 793px){

  .weather-box--margin{
    margin-top:50px;
  }
  
  .icon-weather{
    float: left;
    font-size: 100px;
    padding-top:70px;
    padding-bottom:70px;
    width:22%;
  }
  
  .icon-aqi{
    float: left;
    font-size: 200px;
    padding-top:30px;
    padding-bottom:30px;
    margin-left: 80px;
    width:10%;
  }
  
  .current-weather{
    margin-left: 7%;
  }
  
  .temperature__current{
    font-size: 126px;
    float: left;
    padding-top:40px;
    padding-bottom:40px;
    width:33%;
  }
  
  .temperature__details{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 42px;
    margin-left: 40px;
    float:left;
    width:15%;
  }
  
  .temperature__high{
    padding: 10px;
    color:#da6464;
  }
  
  .temperature__low{
    padding: 10px;
    color: #77C0E3;
  }
  
  .temperature__rain{
    padding: 10px;
    color: rgb(189, 148, 255);
  }
}

.aqi__text-relative{
  float: left;
  position: relative;
}

.aqi__text-position{
  font-size: 30px;
  margin-left: 120px;
  margin-top: 100px;
  color: black;
  position: absolute;
}



/* @AQI styles */
@media screen and (max-width: 792px){



}
@media screen and (min-width: 793px){

  .circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
  }
  
  .weather__aqi{
    width: 30%;
    height: 220px;
    float:right;
    padding-top:30px;
    padding-bottom:30px;
    margin-right: 100px;
  }
  
  .weather__aqi-text--color{
    color: black;
  }
  
  .weather__aqi--border{
    margin-left:30%;
    height: 180px;
    width: 180px;
    border: solid 7px white;
    border-radius: 50%;
    margin-top: -10px;
  }
  
  .weather__aqi--text{
    font-size: 42px;
    margin-top: 65px;
    margin-left: 25px;
  }
}


/* @Fuel prices styles */
@media screen and (max-width: 792px){



}
@media screen and (min-width: 793px){


  .fuel-prices__main-box{
    margin-top:15px;
  }
  
  .fuel-prices--display-inline{
    display:inline-block;
    margin-top:-15px;
    width: 300px;
  }
  
  .fuel-prices__text{
    margin-left: 10px;
    float:left;
  }
  
  .fuel-prices__text--minus{
    color:#C72230;
  }
  
  .fuel-prices__text-diff{
    margin-right:70px;
    float:right;
  }
  
  .icon_large--incerease{
    font-size: 42px;
    color: #da6464;
  }
  
  .icon_large--decreases{
    font-size: 42px;
    color: #7ccf29;
  }

}


/* @News styles */
* { box-sizing: border-box; }

.box-news{
  height: 25%;
  background: #222;
  margin-bottom: 20px;
}


@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(#000, 0.9);
  box-sizing: content-box;
}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
    -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
    -webkit-animation-name: ticker;
  animation-name: ticker;
    -webkit-animation-duration: 240s;
  animation-duration: 240s;
}

.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;   
}

/* @Currencies styles */

@media screen and (max-width: 792px){

  .bitcoin{
    width: 100%
    }

}

@media screen and (min-width: 793px){
  .bitcoin{
    width: 60%
    }
    
    .currency{
      width: 20%
    }
    
    .flag-position{
      margin-left: 30px;
    }
    
    .flag-text-position--square{
      margin-left: 40px;
    }
    
    .flag-position--square{
      margin-left: 10px;
    }
    
    .first-block-element{
      margin-top: 20px;
    }
    
    .first-block-element-gas{
      margin-top: 6px;
    }
    
    .gas{
      width: 20%
    }
}


    
.wi-color--yellow{
  color: #e2d847
}

.wi-color--red{
  color: #da6464
}

.wi-color--green{
  color: #7ccf29
}
