.gas{
    height: 25%;
    background: #222;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 58px;
    float: left;
}

  
  .fuel-prices--display-inline{
    display:inline-block;
    margin-top:-15px;
    width: 300px;
  }
  
  .fuel-prices__text{
    margin-left: 10px;
    float:left;
  }
  
  .fuel-prices__text--minus{
    color:#C72230;
  }
  
  .fuel-prices__text-diff{
    margin-right:70px;
    float:right;
  }
  
  .icon_large--incerease{
    font-size: 42px;
    color: #da6464;
  }
  
  .icon_large--decreases{
    font-size: 42px;
    color: #7ccf29;
  }

.fuel-prices__main-box{
  margin-top:32px;
}